.timeline
{
	list-style-type: none;
	position: relative;
	padding: 0;
	}
.timeline>li
{
	display: inline-block;
}
li:nth-child(even) .timeline-panel
{
	width: 41%;
	display: block;
  float: left;
}
li:nth-child(odd) .timeline-panel
{
	width: 41%;
	display: block;
  float: right;
}
.img-circle
{
	width: 180px;
	height: 180px;
	border: 7px solid #F1F1F1;
  display: inline-block;
  margin: 0 auto;
}
.timeline-image {
    display: inline-block;
    overflow: hidden;
    text-align: center;
  	width: 58%;
}
.text-muted {
      text-align: justify;
 }

 .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  .row-footer {
    background-color: #AfAfAf;
    margin: 200px auto;
    padding: 20px 0px 20px 0px;
  }
  div.navbar-nav {
    padding: 40px 10px;
    float: none;
    text-align: center;
  }

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 50%;
}
